body{
    background-image: url("./background.jpg");
}
#errPhoneNumber{
    color: red;
    font-size: 15px;
}
#drop_zone{
    width: 80%;
    height: 500px;
    border: dotted 2px white;
    border-radius: 2px;
    text-align: center;
    margin-top: 10px;
    padding-top: 200px;
    margin-left: 50px;
}
#list{
    text-align: center;
}
.card{
    margin-top: 20px;
    margin-left: 80px;
}
.header{
    text-align: center;
}
.btn.waves-effect.waves-light{
    margin-left: 40%;
}

.welcome-space{
    padding-bottom: 50px;
}
